<div class="row">
  <div class="col-xs-2">
    <h4 class="text-primary">Fecha</h4>
    <div class="form-group">
      <label for="desde">Desde</label>
      <input type="date" class="form-control" id="desde" placeholder="Desde" #desde >
    </div>
    <div class="form-group">
      <label for="hasta">Hasta</label>
      <input type="date" class="form-control" id="hasta" placeholder="Hasta" #hasta >
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary" (click)="onBuscar(desde, hasta)">Buscar</button>
      <button type="button" class="btn btn-danger" (click)="onCancelar(desde, hasta)">Cancelar</button>
    </div>
  </div>
</div>
<div class="row">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Kilos</th>
      <th>Pesos</th>
      <th>Ventas</th>
      <th>Visitas</th>
      <th>%</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let venta of ventas | async">
      <th scope="row"><a style="cursor: pointer" [routerLink]="['/ventas', venta.uid]">{{ venta.uid }}</a></th>
      <td>{{ venta.kilos | number:'1.2-2' }}</td>
      <td>{{ venta.pesos | currency:'USD':true }}</td>
      <td>{{ venta.ventas }}</td>
      <td>{{ venta.visitas }}</td>
      <td [ngClass]="{ 'text-danger': (venta.ventas / venta.visitas) < 0.5 }">{{ (venta.ventas / venta.visitas) | percent:'1.2-2' }}</td>
    </tr>
    </tbody>
  </table>
</div>
<hr>
<router-outlet></router-outlet>

